*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f7fc;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    padding:30px;
}

h1{
    margin-bottom:20px;
    color:#1e293b;
}

/* Common Button Styles */
button{
    transition:all 0.3s ease;
}

.add-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    margin-bottom:20px;
}

.add-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 15px rgba(37,99,235,0.3);
}

/* Form */
.form-box{
    background:white;
    padding:25px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.form-box h2{
    margin-bottom:15px;
    color:#1e293b;
}

.form-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:2px solid #e2e8f0;
    border-radius:2rem;
    transition:all 0.3s ease;
}

.form-box input:hover{
    border-color:#2563eb;
    transform:translateY(-2px);
}

.form-box input:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 12px rgba(37,99,235,0.25);
}

/* Save Button */
.save-btn{
    background:green;
    color:white;
    border:none;
    padding:10px 20px;
    margin-right:10px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 15px rgba(0,128,0,0.3);
}

/* Cancel Button */
.cancel-btn{
    background:red;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.cancel-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 15px rgba(255,0,0,0.3);
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

table th{
    background:#2563eb;
    color:white;
    padding:14px;
}

table td{
    border:1px solid #eee;
    padding:12px;
    text-align:center;
}

table tr{
    transition:background 0.3s ease;
}

table tr:hover{
    background:#f8fafc;
}

/* Edit Button */
.edit-btn{
    background:#4f89e5;
    color:white;
    border:none;
    padding:8px 12px;
    margin-right:5px;
    border-radius:6px;
    cursor:pointer;
}

.edit-btn:hover{
    transform:scale(1.08);
    box-shadow:0 4px 12px rgba(79,137,229,0.4);
}

/* Delete Button */
.delete-btn{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.delete-btn:hover{
    transform:scale(1.08);
    box-shadow:0 4px 12px rgba(255,0,0,0.4);
}